body {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.main {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    background-color: #1F2937;
}

.rando {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    background-color: grey;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}