body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    padding: 12px 16px;
    margin: 0;
    width: 100%;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.logo, .links {
    gap: 16px;
    padding: 0 16px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    column-gap: 150px;
    padding: 8px 16px;
}

.herm {
    display: flex;
    flex-flow: column wrap;
    max-width: 450px;
    gap: 8px;
}

img {
    width: 300px;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rando {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    background-color: grey;
}

.links {
    display: flex;
    align-items: center;
}

a, .smry, .cright {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.facts {
    color: rgb(100, 98, 98);
    display: flex;
    flex-wrap: wrap;

}

.ctch{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.fctbx {
    width: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.head {
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    width: 600px;
    padding: 20px;
}

.spoken {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.name {
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
}